@import url("https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#2e7f90, #448a61, #298876, #2e7f90);
}

.logo {
  margin: 24px;
  animation: rotacionar 1.5s linear;
}

@keyframes rotacionar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

h1 {
  margin: 0 24px 0 38px;
  font-family: "Inter";
  font-size: 1.5rem;
  color: #0a3871;
}

.container_textarea {
  margin: 24px 24px 0 24px;
  padding: 24px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-family: "Inter";
  font-size: 1rem;
 
  box-shadow: 2px 4px 8px rgba(0.5, 0.5, 1, 1);
}

.information_guide {
  font-family: "Inter";
  font-size: 12px;
  color: #fff;
  margin: 0 24px;
}

.btn_cripto_descripto {
  width: 100%;
  
  display: flex;
  align-items: center;
  ;
}

.cripto,
.descripto {
  width: 150px;
  height: 45px;
  margin: 15px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
 
  transition: transform 0.5s ease-in-out;
}

.cripto {
  background-color: #0a3871;
  color: #fff;
}

.cripto:hover {
  background-color: #2bc8de;
  color: #fff;
  transform: scale(1.2);
}

.descripto {
  background-color: #d8dfe8;
  color: #0a3871;
}

.descripto:hover {
  background-color: #2bc8de;
  color: #fff;
  transform: scale(1.2);
}

.view_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.text_message {
  width: 230%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin: 24px 0 0 24px;
  box-shadow: 2px 4px 8px rgba(0.5, 0.5, 1, 1);
  border-radius: 12px;
}

#response_textarea {
  width: 230%;
  padding: 28px;
  margin: 0 24px;

  font-family: "Inter";
  font-weight: bold;
  font-size: 1rem;

  color: #0a3871;
  background-color: #fff;

  box-shadow: 2px 4px 8px rgba(0.5, 0.5, 1, 1);
  border-radius: 12px;
  outline: none;
}

.btn_copy {
  width: 80px;
  height: 50px;
  margin: 30px;
  
  border-radius: 15px;
  border: 1px;

  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;

  background-color: #d8dfe8;
  color: #0a3871;

  transition: transform 0.5s ease-in-out;
}

.btn_copy:hover {
  background-color: #79febf;
  transform: scale(1.2);
}

.baseboard {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 45px;
  text-align: center;

  background-color: #0a3871;
}

.baseboard p {
  color: #fff;
  font-size: 1rem;
  font-family: "Krona";
  font-weight: bold;
  padding: 1rem 1rem 0 1rem;
}